.container.padding-top-7
  .row
    .col-md-3.box-pad-1
      .box-style.box-shadow-1.bg-white.rounded-corners.relative.pad-bottom-1.m-bottom-1.min-h-23
        .row
          .col-xs-12
            .btn-group.right
              a.dropdown-toggle.right data-toggle="dropdown"
                span
                  i.fa.fa-chevron-down.light-gray.visible-on-hover
              ul.dropdown-menu role="menu" 
                li
                  a href="#"  Action
                li
                  a href="#"  Another action
                li
                  a href="#"  Something else here
                li.divider
                li
                  a href="#"  Separated link
        = image_tag(@user.pic, class: "profile-photo")
        h2.blue-gray.center = @user.name
        .m-bottom-2.center.bottom.w-100
          - if current_user.likes.where(liked_user: @user).count < 1 && current_user != @user
            = button_to 'Like', user_likes_path(@user), remote: true, class: "btn btn-default upcase btn-blue center-abs"
          - elsif match_exists?(current_user, @user)
            = link_to 'Chat', match_path(match_exists?(current_user, @user)), class: "btn btn-default upcase btn-blue center-abs"
          - else
            .btn.btn-default.upcase.btn-blue.center-abs Liked

            
      .box-pad-1.box-shadow-1.bg-white.rounded-corners.relative.pad-bottom-1
        .row
          .col-xs-4
            -if @instagram_info
              .center-icon
                = link_to("http://instagram.com/#{@instagram_info.username}")
                  i.fa.fa-instagram.fa-2x.blue-gray.center
          .col-xs-4
            .center-icon
              i.fa.fa-facebook.fa-2x.blue-gray.center
          .col-xs-4
            .center-icon
              i.fa.fa-google-plus-square.fa-2x.blue-gray.center

    .col-md-9.box-pad-1
      .box-shadow-1.bg-white.rounded-corners.relative.pad-bottom-1
        .row.box-pad-1
          .col-md-9.box-pad-1
            p 
              = @profile.about_me 
          .col-md-3.box-pad-1


    .col-md-9
      .row
        
        - if @photos
          - @photos.each do |photo|
            
            a.col-md-3.box-pad-1.rounded-corners data-gallery="multiimages" data-title=("") data-toggle="lightbox" href=(photo.images.standard_resolution.url) 
              img.img-responsive.rounded-corners src=(photo.images.standard_resolution.url)

 
