<div class="container padding-top-7">
    <div class="row">
        <div class="col-md-3 box-pad-1">
            <div class="box-style box-shadow-1 bg-white rounded-corners relative pad-bottom-1 m-bottom-1 min-h-23">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-group right">
                            <a class="dropdown-toggle right" data-toggle="dropdown">
                                <span><i class="fa fa-chevron-down light-gray visible-on-hover"></i></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#"> Action</a>
                                </li>
                                <li>
                                    <a href="#"> Another action</a>
                                </li>
                                <li>
                                    <a href="#"> Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#"> Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h2 class="blue-gray center"></h2>
                <div class="m-bottom-2 center bottom w-100">
                    <div class="btn btn-default upcase btn-blue center-abs">Liked</div>
                </div>
            </div>

            <div class="box-pad-1 box-shadow-1 bg-white rounded-corners relative pad-bottom-1">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="center-icon">
                            <div class="col-xs-4">
                                <div class="center-icon">
                                    <i class="fa fa-facebook fa-2x blue-gray center"></i>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="center-icon">
                                    <i class="fa fa-google-plus-square fa-2x blue-gray center"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 box-pad-1">
                    <div class="box-shadow-1 bg-white rounded-corners relative pad-bottom-1">
                        <div class="row box-pad-1">
                            <div class="col-md-9 box-pad-1">
                                <p>Hey I'm going on a trip to Vancouver, BC and would love to meet some other outdoorsy people to hang out with while I'm there. </p>
                            </div>
                            <div class="col-md-3 box-pad-1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row"></div>
                </div>
            </div>
        </div>
    </div>
</div>
