<div class="container padding-top-7">
    <div class="row">
        <div class="col-md-12 box-pad-1">
            <div class="box-style box-shadow-1 bg-white rounded-corners relative">
              <div class="col-md-2 avatar margin-b-1">
                <img class="m-bottom-1 left">
              </div>
              <div class="col-md-9">
                <div class="row box-pad-p5">
                  <div class="col-md-10">
                    <h2 class="blue-gray">
                      user.name
                    </h2>
                  </div>
                </div>
                <div class="row center-on-xs">
                  <div class="col-md-10"
                  <!-- - if Message.for_match(match).count > 0
                    time = time_ago_in_words(Message.for_match(match).order("created_at DESC").limit(1).first.created_at) + " ago" -->
                  </div>
                </div>
              </div>
              <div class="col-md-1 mar-top-2-p5">
                <div class="row center">
                  <a href="#chat" class="btn btn-default upcase btn-blue">Chat</a>
                </div>
            </div>
        </div>
    </div> 
</div>
