.container.padding-top-7
  - @matches.each do |match|
    .row
      .col-md-12.box-pad-1
        .box-style.box-shadow-1.bg-white.rounded-corners.relative
          = link_to profile_path(match.matched_user), class: "no-dec-link"

            .col-md-2.avatar.margin-b-1
              = image_tag(match.matched_user.pic, class: "m-bottom-1 left")
            .col-md-9
              .row.box-pad-p5
                .col-md-10
                  h2.blue-gray = match.matched_user.name
              .row.center-on-xs
                .col-md-10
                  - if Message.for_match(match).count > 0
                    time = time_ago_in_words(Message.for_match(match).order("created_at DESC").limit(1).first.created_at) + " ago"
            .col-md-1.mar-top-2-p5
              .row.center
                = link_to 'Chat', match_path(match), class: "btn btn-default upcase btn-blue"
                
                        
