.container.padding-top-7
  .row
    .col-md-8
      .message-history
        - @history.each do |message|
          p = message.body
  .row
    .col-md-8 
      = form_for [@current_user, @match, @message], remote: true do |f|
        = f.hidden_field :recipient_id, :value => @matched_user.id
        div
          label for="message_body"  Message
          = f.text_area :body
        div
          = f.submit 'Send a message'

