html, body {
  height: 100%;
  background-color: #f0f3f6;
  font-family: Roboto,Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
// Colors
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$light-gray-2: #e7ecf1;
$dark-gray-2: #475965;

$focus-blue: #21b8c6;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

@mixin flash($color) {
  background: $color;
  color: darken($color, 60);
  font-weight: bold;
  margin-bottom: $base-line-height / 2;
  padding: $base-line-height / 2;

  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}
.right {
  float: right;
}
.margin-0 {
  margin: 0
}

.box-style-2 {
  padding: 1em;
  color: #fff;
}



#flash-alert {
  @include flash($alert-color);
}

#flash-error {
  @include flash($error-color);
}

#flash-notice {
  @include flash($notice-color);
}

#flash-success {
  @include flash($success-color);
}


.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navmenu {
  z-index: 1;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background-color: rgb(249, 249, 249);
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .canvas {
    padding: 0;
  }
}
.navmenu-default {
  background-color: #ffffff
}
.blue-1 {
  // background-color: #3367D6;
  background-color: #00bcd4;
}
.navbar-default .navbar-toggle.no-border {
  border: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
}
.avatar {
  
}
.padding-1 {
  padding: 1em;
}
.center {
  text-align: center;
}
.margin-b-1 {
  margin-bottom: 1em; 
}
.avatar img {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}
h2.profile-list-name {
  font-size: 1.8em;
  line-height: 1.8em;
}
.navbar {
  position: relative;
  /* min-height: 50px; */
  margin-bottom: 0;
  border: 0;
}
.navbar-default {
  background-color: #fff;
}
.canvas {
  padding: 0;
}

.box-shadow-1 {
  // box-shadow: 0 6px 10px -10px #555;
  box-shadow: 0px 1px 6px -2px rgba(50, 50, 50, 0.3);
}
.line-height-55 {
  line-height: 55px;
}

.rounded-corners {
  border-radius: 3px;
}

.new-activity-form-container {
  height: 100%;
  z-index: 160;
  position: absolute;
  top: 0;
  height: 300px;
  width: 100%;
  padding-top: 140px;
}
.white {
  color: #fff;
}

@mixin white {
  color: #fff;
}
.text-shadow {
  text-shadow: 0 -1px 1px rgba(0,0,0,0.6)
}

.navbar-profile-photo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.min-height-10 {
  min-height: 10em;
}

@mixin min-height-10 {
  min-height: 10em;
}

.bg-green {
  background-color: #009688;
}
@mixin bg-gray {
  background-color: #C8C8C8;
}

@mixin bg-light-green {
  background-color: #CCFFCC;
}



.bg-purple {
  background-color: #673ab7;
}

.bg-white {
  background-color: white;
}

.pad-right-1 {
  padding-right: 1em;
}

.box-pad-1 {
  padding: 1em;
}

@mixin box-pad-1 {
  padding: 1em;
}
.margin-top-0 {
  margin-top: 0;
}
.block {
  display: block;
}
.wi.block {
 display: block; 
}

.box-style {
  @include box-pad-1;
  @include white;
  @include min-height-10;
}

.box-style-black {
  @include box-pad-1;
  @include min-height-10;
  color: black;
}

.no-dec-link, .no-dec-link:hover {
  text-decoration: none;
}

.m-bottom-1 {
  margin-bottom: 1em;
}
.m-bottom-2 {
  margin-bottom: 2em;
}
.upcase {
  text-transform: uppercase;
}
.btn-blue {
  background-color: #21b8c6;
  border: none;
  color: #fff;
  padding: 0.5em 1.5em;
}

.min-h-29 {
  min-height: 29em;
}
.relative {
  position: relative;
}
.bottom {
  position: absolute;
  bottom: 0;
}
.center-abs {
  left:50%;
  margin-left: -2em;
}
.pad-bottom-1{
  padding-bottom: 1em;
}
.w-100 {
  width: 100%;
}
.my-message {
  float: right;
  background-color: $light-gray-2;
  padding: 0.7em;
  margin-bottom: 0.7em;
  color: $dark-gray-2;
}

.their-message {
  float: left;
  background-color: $focus-blue;
  padding: 0.7em;
  margin-bottom: 0.7em;
}

  .box-pad-p5 {
    padding: 0.5em;
  }
  .bg-white {
    background-color: #fff;
  }
@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}
.thin {
  font-weight: 300;
}
.blue-gray {
  color: #475965;
}
.center-icon {
  display: inline-block;
  width: 100%
}
.center-icon .center {
  display: block;
}
.min-h-23 {
  min-height: 23em;
}
.light-gray {
  color: #eee;
}
.visuallyhidden {
  display: none;
}
.light-gray.visible-on-hover {
  transition: all 0.5s;
  color: #fff;
}
.box-style:hover .light-gray.visible-on-hover {
  color: #eee;
}
.add-icon {
  margin-top: -20px;
  padding-right: 9px;
}

.mar-top-2-p5 {
  margin-top: 2.5em;
}

@media (max-width: 480px){
  .center-on-xs{
    text-align: center;
  }
}