html, body {
  height: 100%;
  background-color: #f0f3f6;
}
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
// Colors
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

@mixin flash($color) {
  background: $color;
  color: darken($color, 60);
  font-weight: bold;
  margin-bottom: $base-line-height / 2;
  padding: $base-line-height / 2;

  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}
.right {
  float: right;
}

#flash-alert {
  @include flash($alert-color);
}

#flash-error {
  @include flash($error-color);
}

#flash-notice {
  @include flash($notice-color);
}

#flash-success {
  @include flash($success-color);
}


.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navmenu {
  z-index: 1;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background-color: rgb(249, 249, 249);
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .canvas {
    padding: 0;
  }
}
.navmenu-default {
  background-color: #ffffff
}
.blue-1 {
  // background-color: #3367D6;
  background-color: #00bcd4;
}
.navbar-default .navbar-toggle.no-border {
  border: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #00bcd4;
}
.avatar {
  
}
.padding-1 {
  padding: 1em;
}
.center {
  text-align: center;
}

.avatar img {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto;
}
.navbar {
  position: relative;
  /* min-height: 50px; */
  margin-bottom: 0;
  border: 0;
}
.navbar-default {
  background-color: #00bcd4;
}
.canvas {
  padding: 0;
}

.new-activity-form-container {
  height: 100%;
  z-index: 160;
  position: absolute;
  top: 0;
  height: 300px;
  width: 100%;
  padding-top: 140px;
}
.white {
  color: #fff;
}

@mixin white {
  color: #fff;
}
.text-shadow {
  text-shadow: 0 -1px 1px rgba(0,0,0,0.6)
}

.navbar-profile-photo {
  width: 25px;
  height: 25px;
}

.min-height-10 {
  min-height: 10em;
}

@mixin min-height-10 {
  min-height: 10em;
}

.bg-green {
  background-color: #009688;
}
@mixin bg-gray {
  background-color: #C8C8C8;
}

@mixin bg-light-green {
  background-color: #CCFFCC;
}

.bg-purple {
  background-color: #673ab7;
}

.pad-right-1 {
  padding-right: 1em;
}

.box-pad-1 {
  padding: 1em;
}

@mixin box-pad-1 {
  padding: 1em;
}
.margin-top-0 {
  margin-top: 0;
}
.block {
  display: block;
}
.wi.block {
 display: block; 
}

.box-style {
  @include box-pad-1;
  @include white;
  @include min-height-10;
}

.no-dec-link, .no-dec-link:hover {
  text-decoration: none;
}

.m-bottom-1 {
  margin-bottom: 1em;
}

.my-message {
  float: right;
  @include bg-light-green;
  padding: 0.7em;
  margin-bottom: 0.7em;
}

.their-message {
  float: left;
  @include bg-gray;
  padding: 0.7em;
  margin-bottom: 0.7em;
}

  .box-pad-p5 {
    padding: 0.5em;
  }