.max-width-height {
  width:100%;
  height:100%;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

/*
 * Button Inverse
 *
 * Buttons in the masthead.
 */

.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #cdbfe3;
  margin: 10px;
}

@media (min-width: 768px) {

    .btn-outline-inverse {
        width: auto;
        margin: 20px 5px 20px 0;
        padding: 18px 24px;
        font-size: 21px;
    }

}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
  color: #563d7c;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}

.logo {
  max-height: 100%;
  max-width: 100%;
  background: url(image-path("homepage/logo.png"));
  margin: 0 auto;
  height: 200px;
  width: 400px;
}
.center-button {
  text-align: center;
  display: block;
}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
  position: fixed;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
 
.centering {
  float:none;
  margin:0 auto;
}

.padding-top-7 {
  padding-top: 7em;
}