<div class="container padding-top-7 box-pad-1">
    <div class="row">
        <div class="col-md-12 box-pad-1">
            <div class="box-style-2 box-shadow-1 bg-white rounded-corners relative pad-bottom-1">
                <h2 class="blue-gray margin-0 center">Activities</h2>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 m-bottom-1">
                <div class="box-style box-shadow-1 bg-white rounded-corners relative pad-bottom-1">
                    <span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 rounded-corners">
            </div>
        </div>
    </div>
</div>
