<div class="container padding-top-7">
    <div class="row">
        <h1>@activity </h1>
        <div class="col-md-3 box-pad-1">
            <div class="box-style box-shadow-1 bg-white rounded-corners min-h-29 relative pad-bottom-1">
                <a class="dislike-user">
                    <i class="fa fa-times light-gray visible-on-hover"></i>
                </a>
                <div class="m-bottom-1"> </div>
                <div class="m-bottom-1">
                    <p class="blue-gray center">
                    This is some placeholder text related to the user: interests, occupation, time in city...
                    </p>
                </div>
                <div class="m-bottom-2 center bottom w-100">
                    <div class="btn btn-default upcase btn-blue center-abs">
                      Liked
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
