.container.padding-top-7
  .row
    h1 = @activity.location
    - @possible_matches.each do |match|
          .col-md-3.box-pad-1
            .box-style.box-shadow-1.bg-white.rounded-corners.min-h-29.relative.pad-bottom-1
              a.dislike-user 
                i.fa.fa-times.light-gray.visible-on-hover
              = link_to profile_path(match.profile), class: "white no-dec-link margin-b-1"

                .avatar.margin-b-1
                  = image_tag(match.pic)
              .m-bottom-1
                = link_to profile_path(match.profile), class: "blue-gray no-dec-link center block"
                    h2.profile-list-name
                      = match.name
              .m-bottom-1
                p.blue-gray.center This is some placeholder text related to the user: interests, occupation, time in city...
              .m-bottom-2.center.bottom.w-100
                - if current_user.likes.where(liked_user: match).count < 1 && current_user != match
                  = button_to 'Like', user_likes_path(match), remote: true, class: "btn btn-default upcase btn-blue center-abs like-button"
                - else
                  .btn.btn-default.upcase.btn-blue.center-abs Liked






